* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #100303;
  /* border-radius: 20px; */
}

.heading {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bolder;
  font-family: cursive !important;
}

.card {
  /* background-image: url("../weather_app/default-bg.jpg"); */
  color: #fff;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  /* margin: auto; */
  height: 100vh;
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100vh;
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.search input {
  border: 0;
  outline: 0;

  background: #ebfffc;
  color: #0d0202;
  padding: 10px 25px;
  height: 40px;

  width: 100%;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;

  width: 60px;
  height: 40px;
  cursor: pointer;
}

.search button img {
  width: 14px;
  margin-top: 5px;
}

.weather-icon {
  width: 150px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 70px;
  font-weight: 500;
}

.weather h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 30px auto;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 15px;
  margin-top: -6px;
}

.bright {
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bolder;
}

.rainStyle {
  background: linear-gradient(#57606f, #d3d3d3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bolder;
}

.snowStyle {
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bolder;
}

.cloudStyle {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #625eb1 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bolder;
}

.hide {
  display: none;
}
